/* 版主留言板主体内容样式 */
.private_message_board ,.public_message_board{
    padding: 20px;
    max-width: 800px;
    margin: 60px auto;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.post {
    border-bottom: 1px solid #eee;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.post:last-child {
    border-bottom: none;
    margin-bottom: 0;
}

.post_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.post_header h2 {
    margin: 0;
    font-size: 1.5em;
}

.post_header .post-date {
    font-size: 1em;
    color: #777;
}

.post_header .post_tag {
    background-color: #ff0000;
    color: white;
    padding: 2px 5px;
    border-radius: 3px;
    margin-right: 5px;
}

.post_content p {
    font-size: 1.4em;
    font-weight: bolder;
    line-height: 1.6;
    margin-bottom: 10px;
}

.post_content ul {
    list-style-type: none; /* 取消列表项前面的点 */
    padding: 0; /* 去除默认的内边距 */
    margin: 0; /* 去除默认的外边距 */
}

.post_content li {
    font-size: 1em;
    line-height: 1.6;
    margin-bottom: 5px;
}

/* 置顶留言板样式 */
.public_message_board{
    display: flex;
    flex-direction: column;
    align-items:start;
    justify-content: center;
}

.public_message_board .post{
    width: 100%;
}

.pinned_post_header,.default_post_header{
    display: flex;
    align-items: start;
    font-weight: bold;
}

.public_message_board .post_entirety{
    margin-left: 20px; 
    cursor: pointer;
    padding:10px 10px 0 10px;
    border-radius: 10px;
}

.public_message_board .post_entirety:hover{
    background-color: #bbbbbb;
    transition: var(--transition);
    opacity: 0.8;
}

.public_message_board .post_entirety .post_header{
    font-size: 1.5em;
    text-align: left;
    margin-bottom: 15px;
}

.public_message_board .post_entirety .post_header .iconfont{
    font-size: 1em;
    text-align: right;
    margin-right: 80px;
    transition: var(--transition);
}

.public_message_board .post_entirety .post_header .icon-aixin{
    color:#999;
}

.public_message_board .post_entirety:hover .icon-aixin{
    color: #ffffff;
}

.public_message_board .post_entirety .post_header .icon-aixin-copy{
    color: #d81e06;
}

.public_message_board .post_entirety .post_date{
    font-size: 0.8em;
    text-align: left;
    color: #666;
    margin-bottom: 5px;
}

.public_message_board .post_entirety:hover .post_date{
    color: #ffffff;
}

.public_message_board .post_entirety .post_content{
    font-size: 1.2em;
    text-align: left;
    margin-bottom: 20px;
    word-wrap: break-word; /* 允许长单词或 URL 地址换行到下一行 */
    word-break: break-all; /* 允许在单词内换行 */
}

.public_message_board .post_entirety .post_line{
    width: calc(100% - 10%);
    border: 2px solid #8b8b8b;
    margin-left: 50px;
    border-radius: 50%;
    opacity: 0.5;
}

/* 留言按钮样式 */
#submit_message {
    margin-top: 10px;
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    transition: var(--transition);
}

#submit_message:hover {
    background-color: #0056b3;
    font-size: 1em;
}

#submit_message:active {
    transform: scale(0.95);
    background-color: #0056b3;
}

/* 重置按钮样式 */
#reset_message {
    margin-top: 10px;
    background-color: #ccc;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    transition: var(--transition);
}

#reset_message:hover {
    background-color: #999;
    font-size: 1em;
}

#reset_message:active {
    transform: scale(0.95);
    background-color: #999;
}

.modal {
    display: none;
}

.modal.show {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--fixedBackgroundColor);
    z-index: 900;
}

/* 弹窗效果 */
.modal_content.show {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 991;
    min-width: 200px;
    padding: 20px;
}

.modal_content button {
    transition: all 0.1s ease;
    background-color: #ff0000;
    color: white;
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 18.7px;
}

.modal_content button:hover {
    background-color: #b50000;
}

.modal_content button:active {
    background-color: #b50000;
    transform: scale(0.95);
}

/* 页脚样式 */
footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
    font-size: 1em;
}


